@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #0f172a;
  --color-base-200: #1e293b;
  --color-base-300: #334155;
  --color-base-content: #f8fafc;

  --color-primary: #6366f1;
  --color-primary-content: #ffffff;

  --color-secondary: #22d3ee;
  --color-secondary-content: #0f172a;

  --color-accent: #818cf8;
  --color-accent-content: #ffffff;

  --color-neutral: #1e293b;
  --color-neutral-content: #e2e8f0;

  --color-info: #3b82f6;
  --color-info-content: #ffffff;

  --color-success: #10b981;
  --color-success-content: #ffffff;

  --color-warning: #f59e0b;
  --color-warning-content: #0f172a;

  --color-error: #ef4444;
  --color-error-content: #ffffff;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}
